.forDesktop{
    display: block;
    @include respond(down-tab-port){
        display: none;
    }
}

.forDesktop-dflex{
    display: flex !important;
    @include respond(down-tab-port){
        display: none !important;
    }
}

.forMobile{
    display: none;
    @include respond(down-tab-port){
        display: block;
    }
}

/* hamburger menu */

#menu-hamburger {
    width: 30px;
    height: 37px;
    position: relative;
    top: 50%;
    transform: rotate(0deg);
    transform: translateY(-50%);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 20;
}

#menu-hamburger span{
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


#menu-hamburger span:nth-child(1) {
    top: 10px;
}

#menu-hamburger span:nth-child(2),#menu-hamburger span:nth-child(3) {
    top: 18px;
}
#menu-hamburger span:nth-child(3) {
    display: none;
}

#menu-hamburger span:nth-child(4){
    top: 26px;
}


#menu-hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#menu-hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#menu-hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
}

#menu-hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    display: none;
}

// MENU MOBILE

.menumMobile{

    .menuShowcase{
        position: fixed;
        top: 0;
        left: -100%;
        width: 81%;
        height: 100%;
        background-color: $color_blue;
        z-index: 10;
        transition: 0.3s all;
        padding: 3rem;
        padding-top: 4rem;
        box-shadow: 1px 0px 1px 2px rgb(81 81 81 / 76%);
        &.open{
            left: 0;
        }

        .listmenu{
            margin-bottom: 3rem;
        }
        .setting{
            margin-top: 3rem;
        }

        ul{
            padding-left: 0;
            li{
                list-style: none;
                margin-bottom: 1rem;
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 1.5rem;
                }
            }
        }
    }

}

.menuOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 65%);
    z-index: 9;
    display: none;
    &.open{
        display: block;
    }
}

.pagination__wrapper{
    background-color: $color_lightGrey;
    padding: 10px 5px;
    padding-left: 2rem;
    border-radius: 8px;
    span{
        font-weight: 900;
        font-size: 13px;
    }
    &-button{
        display: flex;
        justify-content: space-between;
        .page_number{
            display: inline-flex;
            .page_numberButton{
                width: 30px;
                height: 30px;
                border-radius: 20px;
                background-color: white;
                margin-right: 2px;
                color: $color_green;
                font-size: 12px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                &.active{
                    color: white;
                    background-color: $color_green;
                }
            }
        }
        .show_all{
            background-color: $color_green;
            padding: 0.5rem 1.8rem;
            border-radius: 8px;
            display: inline-flex;
            align-items: center;
            p{
                margin: 0;
                color: white;
                font-size: 1.2rem;
            }
            img{
                object-fit: contain;
                margin-left: 1rem;
            }
        }
    }
}

.share_sosmed{
    padding: 12px;
    border-top: 1px solid $color_green;
    border-bottom: 1px solid $color_green;
    text-align: center;
    width: 100%;
    display: flex;
    @include respond(down-tab-port){
        display: block;
    }
    &-link{
        width: 40%;
        a{
            display: inline-block;
        }
        @include respond(down-tab-port){
            width: 100%;
            margin-bottom: 2rem;
        }
    }
    &-act{
        img{
            width: 200px;
        }
        ul{
            li{
                list-style: none;
            }
        }
    }
    p{
        text-align: center;
        font-size: 11px;
        font-style: italic;
        color: rgb(168, 168, 168);
    }
}

.cari_kanker{
    background-color: black;
    border-radius: 10px;
    a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        height: 35px;
        ul{
            margin-bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 2rem;
            li{
                display: inline-block;
                list-style: none;
                color: white;
                font-size: 1.3rem;
            }
        }
    }
}

.cari_kanker-select{
    .form-select{
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
    }
    select{
        height: 35px;
        border-radius: 12px;
        background-color: black;
        color: white;
        padding-left: 15px;
        font-size: 1.5rem;

        option{
            background-color: black !important;
            font-size: 1.5rem;
        }
    }


}

.fix-top{
    position: fixed;
    width: 100%;
    background-color: white;
    top: 56px;
    padding: 20px !important;
    left: 0;
}

.tab__menu{
    .list__component{
        &-list{
            &--item{
                position: relative;
                padding: 0 1rem;
                a{
                    height: 100%;
                    color: black;
                    &.active{
                        color: $color_blue;
                    }
                }
                .col-11{
                    .tab_line{
                        width: 50px;
                        height: 2px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: $color_blue;
                    }
                }
            }
        }
    }
    .col-cs-4{
        width: 35%;
        padding-top: 5rem;
        padding-left: 6rem;
        background-color: $color_lightGrey;
    }
    .col-cs-8{
        width: 65%;
        padding: 5rem 5rem;
    }
}

.hrdiv{
    background-color: $color_lightGrey;
    hr{
        color: $color_blue;
        &:not([size]) {
            height: 3px;
        }
    }
}

.slick-next:before, .slick-prev:before {
    color: $color_blue !important;
}

.box-sh{
    box-shadow: 0px 4px 8px rgb(0 0 0 / 12%);
}