.first__section{
    background-color: $color_lightGrey;
    padding-bottom: 2rem;
}

.second__section{
    padding-top: 2rem;
    padding-bottom: 3rem;
    p{
        font-size: 12px;
        color: black;
        font-weight: 600;
    }
}

.third__section{
    background-color: $color_lightGrey;
    padding-bottom: 3rem;
}

.fourth__section{
    background-color: $color_lightGrey;
    padding-top: 2rem;
    padding-bottom: 3rem;
}