.first__section{
    background-color: $color_lightGrey;
    padding-bottom: 2rem;
    @include respond(down-tab-port){
        padding-right: 12.75px;
        padding-left: 12.75px;
    }
    .box__rec{
        .col-3{
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
}

.second__section{
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: $color_lightGrey;
    @include respond(down-tab-port){
        background-color: white;
        padding-bottom: 3rem;
        padding-right: 12.75px;
        padding-left: 12.75px;
        #img-one{
            width: 200px;
        }
    }
    p{
        font-size: 1.6rem;
        color: black;
        font-weight: 600;
        text-align: justify;
        @include respond(down-tab-port){
            font-size: 1.2rem;
        }
    }
    h2{
        font-size: 27px;
        margin-top: 2rem;
        margin-bottom: 3.5rem;
        @include respond(down-tab-port){
            font-size: 2.2rem;
        }
    }
    h3{
        strong{
            font-size: 1.9rem !important;
        }
    }
}

.exSecondSection{
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: white;
    @include respond(down-tab-port){
        padding-right: 12.75px;
        padding-left: 12.75px;
    }
    p{
        font-size: 12px;
        color: black;
        font-weight: 600;
    }
}

.third__section{
    background-color: $color_lightGrey;
    padding-bottom: 3rem;
    @include respond(down-tab-port){
        padding-right: 12.75px;
        padding-left: 12.75px;
    }
    h2{
        text-align: left !important;
        @include respond(down-tab-port){
            text-align: center !important;
        }
    }
}

.berita__section{
    background-color: $color_lightGrey;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include respond(down-tab-port){
        padding-right: 12.75px;
        padding-left: 12.75px;
    }
    h2,p{
        text-align: left !important;
        @include respond(down-tab-port){
            // text-align: center !important;
        }
    }
}