.first__section{
    background-color: $color_lightGrey;
    padding-bottom: 2rem;
    @include respond(down-tab-port){
        padding-right: 12.75px;
        padding-left: 12.75px;
    }
}

.second__section{
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-color: $color_lightGrey;
    @include respond(down-tab-port){
        background-color: white;
        padding-bottom: 3rem;
        padding-right: 12.75px;
        padding-left: 12.75px;
    }
    p{
        font-size: 1.6rem;
        color: black;
        font-weight: 600;
        @include respond(down-tab-port){
            font-size: 1.2rem;
        }
    }
}

.exSecondSection{
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: white;
    @include respond(down-tab-port){
        padding-right: 12.75px;
        padding-left: 12.75px;
    }
    p{
        font-size: 12px;
        color: black;
        font-weight: 600;
    }
}

.third__section{
    background-color: $color_lightGrey;
    padding-bottom: 3rem;
    @include respond(down-tab-port){
        padding-right: 12.75px;
        padding-left: 12.75px;
    }
}

.berita__section{
    background-color: $color_lightGrey;
    padding-top: 2rem;
    padding-bottom: 3rem;
    @include respond(down-tab-port){
        padding-right: 12.75px;
        padding-left: 12.75px;
    }
}