.setting__page{
    .col-12{
        display: flex;
        justify-content: center;
    }
}

.box__setting{
    padding: 4rem 3rem;
    width: 50%;
    @include respond(down-tab-port){
        width: unset;
    }

    h2{
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        @include respond(down-tab-port){
            text-align: start;
        }
    }
    form{
        .input-group{
            height: 32px;
            margin-bottom: 1.5rem;
        }
        .input-group-text{
            background-color: white;
            border: none;
            border-bottom: 1px solid $color_green;
        }
        input{
            border: none;
            border-bottom: 1px solid $color_green;
            font-size: 15px !important;
            padding-left: 0;
            color: black;

            &:focus{
                box-shadow: none;
                border-color: none;
            }
            &::placeholder{
                font-size: 15px !important;
                color: black;
            }
        }
        select,textarea{
            border: none;
            border-bottom: 1px solid $color_green;
            font-size: 15px !important;
            padding-left: 0;
            color: black;
        }
        select{
            &:focus{
                box-shadow: none;
            }
        }
        textarea{
            width: 100%;
            margin-bottom: 3rem;
            &::placeholder{
                font-size: 15px !important;
                color: black;
            }
        }
    }
}