.tentangKami__page{
    padding: 4rem 6rem;
    @include respond(down-tab-port){
        padding: 4rem 3rem;
    }
    &-intro{
        h3{
            font-weight: 900;
            font-size: 1.5rem;
        }
        p,div,p>span,ul>li,a,div>span,li>span,ol>li{
            font-size: 1.5rem !important;
        }
        div span span{
            font-size: 1.5rem !important;
        }
        table{
            tr{
                td{
                    font-size: 1.5rem !important;
                }
            }
        }
    }

    &-list{
        &--item{
            margin-bottom: 2rem;
            .col-11{
                position: relative;
                .tab_line{
                    width: 50px;
                    height: 1px;
                    background-color: $color_blue;
                    right: 0;
                }
            }
        }
        a{
            font-weight: 600;
            font-size: 1.8rem;
            color: $color_green;
            text-decoration: none;
            line-height: 1;
        }
        p{
            font-size: 1.3rem;
            color: rgb(105, 105, 105);
            margin-bottom: 0;
        }
    }

    &-content{
        p{
            font-size: 1.3rem;
        }
    }
}

.tentangKami__pageD{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    &-list{
        &--item{
            margin-bottom: 2rem;
            .col-11{
                position: relative;
                .tab_line{
                    width: 50px;
                    height: 1px;
                    background-color: $color_blue;
                    right: 0;
                }
            }
        }
        a{
            font-weight: 600;
            font-size: 1.8rem;
            color: $color_green;
            text-decoration: none;
            line-height: 1;
        }
        p{
            font-size: 1.3rem;
            color: rgb(105, 105, 105);
            margin-bottom: 0;
        }
    }
    
}