.boxSearchKanker{
    -webkit-box-shadow: 0px 0px 2px 1px #32a48da6;
    -moz-box-shadow: 0px 0px 2px 1px#32a48da6;
    box-shadow: 0px 0px 2px 1px #32a48da6;
    padding: 3rem;
    h3{
        strong{
            font-weight: 900 !important;
        }
    }
}