.boxReadMore{
    background-color: #00A2E3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    width: 197px;
    font-size: 13px;
    text-align: center;
    &:hover{
        color: white;
    }
    @include respond(down-tab-port){
        width: unset;
    }
    img{
        margin-left: 1rem;
    }
}

// .bhm{
//     padding: 1rem 1rem !important;
//     width: 119px;
//     font-size: 13px;
// }

button.boxReadMore{
    box-shadow: none;
    border: none;
}