.newsListWrapper{
    background-color: $color_lightGrey;
    padding: 4rem 3rem;
    @include respond(down-tab-port){
        padding-right: 12.75px;
        padding-left: 12.75px;
    }
}
.storyListWrapper{
    // background-color: white;
    padding: 4rem 3rem;
    @include respond(down-tab-port){
        padding-right: 12.75px;
        padding-left: 12.75px;
    }
}
.boxNews{
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 2px;
    height: 100%;
    box-shadow: 0px 0px 14px 0px rgba(16,24,32,0.14);

    .boxImage{
        height: 200px;

        @include respond(down-tab-port){
            height: 140px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .boxInformation{
        padding: 0.5rem 2rem 2rem 2rem;
        height: calc(100% - 200px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span{
            color: rgb(146, 146, 146);
        }
        .title{
            h3{
                font-weight: 600;
            }
            .author{
                color: lightgrey;
                font-style: italic;
            }
        }

        p{
            font-size: 1.3rem;
        }


    }
}