.boxSearchKanker{
    // border: 1px solid $color_green;
    box-shadow: 0px 0px 2px 1px #32a48dd0;
    padding: 3rem;
    h3{
        strong{
            font-weight: 900 !important;
        }
    }
}