.list__component{
    &-list{
        &--item{
            margin-bottom: 2rem;
            a{
                font-weight: 600;
                font-size: 1.6rem;
                color: $color_green;
                text-decoration: none;
                line-height: 1;
                display: block;
                margin-bottom: 0.7rem;
            }
            p{
                font-size: 1.3rem;
                color: rgb(105, 105, 105);
                margin-bottom: 0;
            }
        }
    }
}

