.otherHeader{
    // height: 100vh;
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;

    @include respond(down-tab-port){
        // background-image: url('/images/headerHomeMobile.jpg');
        // height: 40vh;
    }

    .headerDesktop{
        padding: 4rem 6rem;
        @include respond(down-tab-port){
            padding: 4rem 0rem;
        }
        nav{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            ul{
                margin: 0;
                padding-top: 5px;
                li{
                    margin-left: 2rem;
                    a{
                        font-family: 'Nunito Sans', sans-serif;
                        color: white;
                        font-size: 1.3rem;
                        letter-spacing: 1px;
                    }
                }
            }
        }
        .userAction{
            margin: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0;
            li{
                margin-left: 2rem;
                &:nth-child(2){
                    margin-left: 3.5rem;
                }
                &:nth-child(3){
                    margin-left: 1.5rem;
                }
                a{
                    color:white;
                }
            }
        }
    }

    .headerMobile{
        position: relative;
        background-color: $color_green;
        .headerNavBox{
            transition: 0s all;
            &.topScroll{
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 9;
                background-color: $color_blue;
            }
        }
        .user{
            padding: 2rem 0;
            ul{
                margin: 0;
                display: flex;
                padding: 0;
                li{
                    margin-left: 1.5rem;
                    height: 16px;
                    list-style: none;
                    a{
                        font-family: 'Nunito Sans', sans-serif;
                        color: white;
                        font-size: 11px;
                        letter-spacing: 1px;
                        line-height: 1;
                        height: 16px;
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        img{
                            height: 16px;
                        }
                    }
                }
            }
        }
        .menu{
            padding: 2rem 0;
            display: flex;
            justify-content: flex-end;
            ul{
                margin: 0;
                display: flex;
                padding: 0;
                li{
                    margin-right: 1.5rem;
                    height: 16px;
                    list-style: none;
                    a{
                        font-family: 'Nunito Sans', sans-serif;
                        color: white;
                        font-size: 11px;
                        letter-spacing: 1px;
                        line-height: 1;
                        height: 16px;
                        display: flex;
                        align-items: center;
                        img{
                            height: 16px;
                        }
                    }
                }
            }
        }
        .box__welcome{
            min-height: 100px;
            background-color: orangered;
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% - 4rem);
            border-radius: 12px;
            z-index: 2;
            box-shadow: 0px 4px 8px rgb(0 0 0 / 12%);
            padding: 1.5rem;
            text-align: center;
            h4{
                font-size: 1.5rem;
            }
        }
        .halfBoxRounded{
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: $color_lightGrey;
            height: 41px;
            left: 50%;
            transform: translateX(-50%);
            border-top-left-radius: 38px;
            border-top-right-radius: 38px;
        }
    }

}