/*
0 - 650px       :   Phone
650 - 992px     :   Tablet Potrait
650 - 1200px    :   Tablet Landscape
[1200 - 1800px] :   Desktop
1800px +        :   Big Desktop
*/
/* 
$breakpoint argument choices:
- phone
- tab-port
- tab-lans
- big-desktop

ORDER:  Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* default 16px */
  /* font-size: 10px; */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  transition: all 0.4s ease-out;
  font-family: "Nunito Sans", sans-serif;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: 0;
}

.forDesktop {
  display: block;
}
@media only screen and (max-width: 62em) {
  .forDesktop {
    display: none;
  }
}

.forMobile {
  display: none;
}
@media only screen and (max-width: 62em) {
  .forMobile {
    display: block;
  }
}

p, li, a {
  font-family: "Nunito Sans", sans-serif;
}

h1, h2, h3, h4, h5, th, td {
  font-family: "Nunito Sans", sans-serif;
}

label, button, span {
  font-family: "Nunito Sans", sans-serif;
}

input {
  font-family: "Nunito Sans", sans-serif;
}
input:focus {
  outline: none;
}
input::-moz-placeholder {
  font-family: "Nunito Sans", sans-serif;
}
input:-ms-input-placeholder {
  font-family: "Nunito Sans", sans-serif;
}
input::placeholder {
  font-family: "Nunito Sans", sans-serif;
}

textarea {
  font-family: "Nunito Sans", sans-serif;
}
textarea:focus {
  outline: none;
}
textarea::-moz-placeholder {
  font-family: "Nunito Sans", sans-serif;
}
textarea:-ms-input-placeholder {
  font-family: "Nunito Sans", sans-serif;
}
textarea::placeholder {
  font-family: "Nunito Sans", sans-serif;
}

strong {
  font-weight: 800 !important;
}

header {
  height: 100vh;
  background-image: url("/images/headerHomeDesktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 62em) {
  header {
    background-image: url("/images/headerHomeMobile.jpg");
    height: 38vh;
  }
}
header .headerHome {
  padding: 4rem 6rem;
}
@media only screen and (max-width: 62em) {
  header .headerHome {
    padding: 4rem 0rem;
  }
}
header .headerHome nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .headerHome nav ul {
  margin: 0;
  padding-top: 5px;
}
header .headerHome nav ul li {
  margin-left: 2rem;
}
header .headerHome nav ul li a {
  font-family: "Nunito Sans", sans-serif;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 1px;
}
header .headerHome .userAction {
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}
header .headerHome .userAction li {
  margin-left: 2rem;
}
header .headerHome .userAction li:nth-child(2) {
  margin-left: 3.5rem;
}
header .headerHome .userAction li:nth-child(3) {
  margin-left: 1.5rem;
}
header .headerHome .userAction li a {
  color: white;
}
header .headerMobile {
  height: 100%;
  position: relative;
}
header .headerMobile .user {
  padding: 2rem 0;
}
header .headerMobile .user ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
header .headerMobile .user ul li {
  margin-left: 1.5rem;
  height: 16px;
  list-style: none;
}
header .headerMobile .user ul li a {
  font-family: "Nunito Sans", sans-serif;
  color: white;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 1;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
header .headerMobile .user ul li a img {
  height: 16px;
}
header .headerMobile .menu {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}
header .headerMobile .menu ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
header .headerMobile .menu ul li {
  margin-right: 1.5rem;
  height: 16px;
  list-style: none;
}
header .headerMobile .menu ul li a {
  font-family: "Nunito Sans", sans-serif;
  color: white;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 1;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
header .headerMobile .menu ul li a img {
  height: 16px;
}
header .headerMobile .box__welcome {
  height: 100px;
  background-color: orangered;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 4rem);
  border-radius: 12px;
  z-index: 2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}
header .headerMobile .halfBoxRounded {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #E8EAEA;
  height: 46px;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
}

footer {
  background-color: #1A1A1A;
}
footer .newsletter p {
  font-size: 1.3rem;
}
footer .newsletter .input-group {
  height: 35px;
}
footer .newsletter .input-group input {
  width: 60%;
  font-style: italic !important;
  font-size: 15px !important;
  padding-left: 1.8rem;
}
@media only screen and (max-width: 62em) {
  footer .newsletter .input-group input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}
footer .newsletter .input-group input ::-webkit-input-placeholder {
  font-style: italic !important;
  font-size: 15px !important;
}
footer .newsletter .input-group button {
  width: 40%;
  background-color: #32A48E;
  color: white;
  font-style: italic;
  font-size: 1.3rem;
}
@media only screen and (max-width: 62em) {
  footer .newsletter .input-group button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
footer .sitemap ul {
  padding-top: 2rem;
  padding-left: 10px;
}
footer .sitemap ul li {
  margin-bottom: 1rem;
  list-style: none;
}
footer .sitemap ul li a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}
footer .sosmed {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
footer .sosmed ul li {
  list-style: none;
  display: inline-block;
}

.box__rec {
  height: 90px;
  width: 100%;
  border-radius: 12px;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}
.box__rec a {
  text-decoration: none;
  color: black;
}
.box__rec a .container {
  height: 100%;
}
.box__rec a .container .row {
  height: 100%;
}
.box__rec a .container .row img {
  -o-object-fit: contain;
     object-fit: contain;
}
.box__rec a .container .row svg {
  height: 15px;
  width: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

.boxReadMore {
  background-color: #32A48E;
  color: white;
  padding: 0.5rem 1.9rem;
  border-radius: 5px;
  text-decoration: none;
}
.boxReadMore img {
  margin-left: 1rem;
}

.boxNews {
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 2px;
}
.boxNews .boxImage {
  height: 140px;
}
.boxNews .boxImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.boxNews .boxInformation {
  padding: 0.5rem 2rem 2rem 2rem;
}
.boxNews .boxInformation span {
  color: #929292;
}
.boxNews .boxInformation h3 {
  font-weight: 600;
}
.boxNews .boxInformation p {
  font-size: 1.3rem;
}

.boxShowMore {
  background-color: black;
  color: white;
  padding: 0.75rem 8rem;
  border-radius: 5px;
  text-decoration: none;
}
.boxShowMore img {
  margin-left: 1rem;
}

section, footer {
  padding: 0 1rem;
}

.first__section {
  background-color: #E8EAEA;
  padding-bottom: 2rem;
}

.second__section {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.second__section p {
  font-size: 12px;
  color: black;
  font-weight: 600;
}

.third__section {
  background-color: #E8EAEA;
  padding-bottom: 3rem;
}

.fourth__section {
  background-color: #E8EAEA;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
